<div class="container">
  <h2>Create a Character</h2>
  <form class="form-container" [formGroup]="characterForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" formControlName="name" />
      </div>
      <div class="form-group">
        <label for="ki">Ki</label>
        <input id="ki" formControlName="ki" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="race">Race</label>
        <input id="race" formControlName="race" />
      </div>
      <div class="form-group">
        <label for="affiliation">Affiliation</label>
        <input id="affiliation" formControlName="affiliation" />
      </div>
    </div>

    <div class="form-group">
      <label for="image">Image URL</label>
      <input id="image" formControlName="image" />
    </div>

    <button *ngIf="characterId" class="button-update" type="submit" [disabled]="characterForm.invalid">Update Character</button>
    <button *ngIf="!characterId" type="submit" [disabled]="characterForm.invalid">Create Character</button>
  </form>
</div>
